body{
	margin:0px;
}
#container{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
header{
	width:100%;
	height: auto;
	padding: 1% 5%;
	background:#de85e2;
}
nav{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:50%;
}

.links{
	text-decoration:none;
	cursor:pointer;
	color:white;
	font-size:1.5rem;
	padding:3%;
}
.links:hover{
	background-color:#39b1c6;
}

#contenedorImagen{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items:  center;
}
#img{
	width:100%;
	display:flex;
	align-items:  center;
	justify-content:center;
	background-image:url(../img/banner_flor.jpg);
	background-size:cover;
	height:300px;
}
#img>h1{
	color:#e84aab;
	font-size:3rem;
	text-shadow: 1px 2px #000;
}
#articulos{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-content: center;
}
#articulos>h2{
	justify-content: center;
	color:purple;
	font-size:2.5rem;
	text-align: center;
}
#row1{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: row;
	align-content: center;
}
#contieneImagen1{
	width:50%;
	height: auto;
}
#articulos img{
	width: 80%;
	height: auto;
}
#contieneTexto1{
	width: 50%;
	display:flex;
	justify-content:center;
	flex-direction: column;

}

#row2{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: row;
	align-content: center;
}
#contieneTexto2{
	width: 50%;
	display:flex;
	justify-content:center;
	flex-direction: column;

}
#contieneImagen2{
	width: 50%;
	height: auto;
}
#contenedorVIdeo{
	width: 100%;
	height:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	background-color: #d983ea;
	padding-bottom: 8%;
}
#contenedorVIdeo>h2{
	justify-content: center;
	color:white;
	font-size:2.5em;
	text-align: center;
	flex-wrap: wrap;

}

#video{
	width: 40%;
	height: auto;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
#video>iframe{
max-width:100%;
height:auto;
}
#contenedorFormulario{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}
#formulario{
	width:50%;
	display:flex;
	flex-direction: column;
}
#email, #nombre{
	width:50%;
	display:flex;
	justify-content: flex-start;
}
#enviar{
	width:20%;
	min-width: 170px;
	display:flex;
	justify-content:center;
	background-color: #d983ea;
	padding: 2% 1%;
	color:#aa0f77;
	font-size:120%;
	margin-bottom: 5%;
}
footer{
	width:100%;
	height: 100px;
	background-color: #d983ea;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items::center;
}

footer>h6{
	color:#aa0f77;
	font-size:0.8rem;
	text-align: center;
}
