body{
	margin:0px;
}
#container{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
header{
	width:100%;
	height: auto;
	padding: 1% 5%;
	background:#de85e2;
}
nav{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:50%;
}

.links{
	text-decoration:none;
	cursor:pointer;
	color:white;
	font-size:1.5vw;
	padding:3%;
}

.links:hover{
	background-color:#39b1c6;
}

#contenedorImagen{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items:  center;
}
#img{
	width:100%;
	display:flex;
	align-items:  center;
	justify-content:center;
	background-image:url(../img/banner_flor.jpg);
	background-size:cover;
	padding: 7% 0;
}
#img>h1{
	color:#e84aab;
	font-size:3vw;
	text-shadow: 1px 2px #000;
}
#articulos{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-content: center;
}
#articulos>h2{
	justify-content: center;
	color:purple;
	font-size:2.5vw;
	text-align: center;
}
#row1{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: row;
	align-content: center;
}
#contieneImagen1{
	width:50%;
	height: auto;
}
#articulos img{
	width: 80%;
	height: auto;
}
#contieneTexto1{
	width: 50%;
	display:flex;
	justify-content:center;
	flex-direction: column;

}

#row2{
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction: row;
	align-content: center;
}
#contieneTexto2{
	width: 50%;
	display:flex;
	justify-content:center;
	flex-direction: column;

}
#contieneImagen2{
	width: 50%;
	height: auto;
}
#contenedorVideo{
	width: 100%;
	height:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	background-color: #d983ea;
	padding-bottom: 8%;
}
#contenedorVideo>h2{
	justify-content: center;
	color:white;
	font-size:2.5vw;
	text-align: center;
	flex-wrap: wrap;

}

#video{
	width: 40%;
	height: auto;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
#video>iframe{
	max-width:100%;
	max-height:100%;
	height:auto;
}
#contenedorFormulario{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}
#formulario{
	width:50%;
	display:flex;
	flex-direction: column;
}
#email, #nombre{
	width:50%;
	display:flex;
	justify-content: flex-start;
}
#enviar{
	width:20%;
	min-width: 170px;
	display:flex;
	justify-content:center;
	background-color: #d983ea;
	padding: 2% 1%;
	color:#aa0f77;
	font-size:2.3vw;
	margin-bottom: 5%;
}
footer{
	width:100%;
	height: 100px;
	background-color: #d983ea;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items::center;
}

footer>h6{
	color:#aa0f77;
	font-size:0.9vw;
	text-align: center;
}
#menuOcultar{
	display:none;

}
#menu{
	justify-content: center;
	color:purple;
	font-size:2.5vw;
	text-align: center;
}

@media (max-width: 400px){
	#menuOcultar{
		display:flex;
		flex-direction: column;
		justify-content: space-around;

	}
	#menu{
		justify-content: space-around;
		color:purple;
		font-size:3.5vw;
		text-align: center;
		width: 80%;
	}
	#menu>img{
		width: 5%;
		min-width: 30px;
		height: auto;
		justify-content: flex-end;

	}
#articulos{
	display:none;
}
nav{
	display:none;
}
#contenedorVideo{
	width: 100%;
	height:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
	border:solid #d983ea;
	padding-bottom: 8%;
	background-color: white;
}
#contenedorVideo>h2{
	justify-content: center;
	color:purple;
	font-size:14pt;
	text-align: center;
	flex-wrap: wrap;

}

#video{
	width: 80%;
	height: auto;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
#video>iframe{
	max-width:100%;
	max-height:100%;
	height:auto;
}
#img{
	width:100%;
	padding: 10% 0;
}
#img>h1{
	color:#e84aab;
	font-size:18pt;
	text-shadow: 1px 2px #000;
}

#formulario{
	width:80%;
	display:flex;
	flex-direction: column;
}
#email, #nombre{
	width:100%;
	display:flex;
	justify-content: flex-start;
}
#enviar{
	width:50%;
	min-width: 100px;
	display:flex;
	justify-content:center;
	background-color: #d983ea;
	padding: 2% 1%;
	color:#aa0f77;
	font-size:10pt;
	margin-bottom: 5%;
}


}
